body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginpage:hover{
  color: red;
  cursor: pointer;
}

#signinpage:hover{
  color: red;
  cursor: pointer;
}

#like:hover{
  cursor: pointer;
}